<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.AdminMapper">
 
	
	<select id="selectString" parameterType="String" resultType="admin">
		SELECT * FROM TB_ADMIN WHERE AID = #{obj}
	</select>
	
	<select id="selectInt" parameterType="Integer" resultType="admin">
		SELECT * FROM TB_ADMIN WHERE AID = #{obj}
	</select>
	
	<select id="selectDouble" parameterType="Double" resultType="admin">
		SELECT * FROM TB_ADMIN WHERE AID = #{obj}
	</select>
	
	<select id="selectArString" parameterType="String" resultType="admin">
		SELECT * FROM TB_ADMIN WHERE AID = #{obj}
	</select>
	
	<select id="selectArInt" parameterType="Integer" resultType="admin">
		SELECT * FROM TB_ADMIN WHERE AID = #{obj}
	</select>
	
	<select id="selectArDouble" parameterType="Double" resultType="admin">
		SELECT * FROM TB_ADMIN WHERE AID = #{obj}
	</select>
	
	<select id="selectall" resultType="admin">
		SELECT * FROM TB_ADMIN
	</select>
	
	<insert id="insert" parameterType="car">
      INSERT INTO TB_CAR VALUES(#{cust_id},#{cust_pw},#{cust_name},#{cust_birthdate},#{cust_email},#{cust_phone},#{cust_address},#{cust_sex},SYSDATE)
   </insert>
   
   <update id="update" parameterType="car">
      UPDATE TB_CAR SET CNUM=#{cnum},CREGDATE=#{cregdate},RPM=#{rpm},SPEED=#{speed},PTEMP=#{ptemp},HTEMP=#{htemp},
      LIGHT=#{light},BATTERY=#{battery},SEAT=#{seat},GPSX=#{gpsx},GPSY=#{gpsy},CSTATUS=#{cstatus},CARIP=#{carip},
      CARMAP=#{carmap}, DOOR=#{door} WHERE CID=#{cid}   
   </update>
   
   <update id="updateColumn" parameterType="updatevo">
      UPDATE TB_CAR SET #{column}=#{value} WHERE CID=#{cust_id}
   </update>
   
   <delete id="deleteString" parameterType="String">
      DELETE FROM TB_CAR WHERE ID=#{obj}
   </delete>
   
   <delete id="deleteInt" parameterType="Integer">
      DELETE FROM TB_CAR WHERE ID=#{obj}
   </delete>
   
   <delete id="deleteDouble" parameterType="Double">
      DELETE FROM TB_CAR WHERE ID=#{obj}
   </delete>
	
</mapper>
